<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.control_system.mapper.NoticeMapper">

     <!--结果集-->
	<resultMap id="NoticeResult" type="com.tian.control_system.pojo.Notice">
		<result property="noticeId" column="notice_id" />			
		<result property="title" column="title" />			
		<result property="content" column="content" />			
		<result property="createBy" column="create_by" />			
		<result property="createTime" column="create_time" />			
		<result property="activeTime" column="active_time" />			
	</resultMap>
	
    <!--新增数据-->
	<insert id="add" parameterType="com.tian.control_system.pojo.Notice" useGeneratedKeys="true" keyProperty="noticeId">
        insert into t_notice (title, content, create_by, create_time, active_time )
		values (#{title}, #{content}, #{createBy}, #{createTime}, #{activeTime})
	</insert>
	
	<select id="findInfoById" resultType="com.tian.control_system.pojo.vo.NoticeVo">
		select tn.notice_id noticeId,tn.title title,tn.active_time activeTime,tn.content content
		from t_notice tn
		<where>
			<if test="noticeId != null">
				tn.notice_id = #{noticeId}
			</if>
		</where>
	</select>
	
	<!--通过主键Id查询-->
	<select id="findById" resultMap="NoticeResult" useCache="false">
		select * from t_notice
		where notice_id = #{_parameter}
	</select>
	
	<!--获取所有的数据-->
	<select id="getAll" resultMap="NoticeResult" useCache="false">
        select * from t_notice
		order by notice_id desc
	</select>

	<!--分页查询所有数据-->
	<select id="findAllByPage" resultType="com.tian.control_system.pojo.vo.NoticeVo">
		select tn.notice_id noticeId,tn.title title,tn.active_time activeTime,tu.username userName
		from t_notice tn
		left join t_user tu
		on tu.uid = tn.create_by
		<where>
			<if test="createTime != null and createTime != ''">
				tn.create_time &gt;= #{createTime}
			</if>
			<if test="activeTime != null and activeTime != ''">
				and tn.active_time &lt;= #{activeTime}
			</if>
		</where>
	</select>
	<select id="countAllByPage" resultType="int">
		select count(1)
		from t_notice tn
		left join t_user tu
		on tu.uid = tn.create_by
		<where>
			<if test="createTime != null and createTime != ''">
				tn.create_time &gt;= #{createTime}
			</if>
			<if test="activeTime != null and activeTime != ''">
				and tn.active_time &lt;= #{activeTime}
			</if>
		</where>
	</select>
	<!--分页查询结果-->
	<select id="findPage" resultType="map" useCache="false">
		select
		notice_id noticeId, title title, content content, create_by createBy, create_time createTime, active_time activeTime 
		 from t_notice
		<trim prefix="where" suffixOverrides="and">
			<if test="arg1.title!=null and arg1.title!=''">
					title=#{arg1.title, jdbcType=VARCHAR} and
			</if>
			<if test="arg1.content!=null and arg1.content!=''">
					content=#{arg1.content, jdbcType=VARCHAR} and
			</if>
			<if test="arg1.createBy!=null and arg1.createBy!=''">
			    	create_by=#{arg1.createBy, jdbcType=INTEGER} and
			</if>
			<if test="arg1.createTime!=null">
			    	create_time=#{arg1.createTime, jdbcType=DATE} and
			</if>
			<if test="arg1.activeTime!=null">
			    	active_time=#{arg1.activeTime, jdbcType=DATE}
			</if>
		</trim>
        order by notice_id desc
		limit #{arg0.firstNum},#{arg0.pageSize}
	</select>
	
	<!--分页查询统计-->
	<select id="countPage" resultType="int" useCache="false">
		select count(1) from t_notice
		<trim prefix="where" suffixOverrides="and">
			<if test="arg1.title!=null and arg1.title!=''">
					title=#{arg1.title, jdbcType=VARCHAR} and
			</if>
			<if test="arg1.content!=null and arg1.content!=''">
					content=#{arg1.content, jdbcType=VARCHAR} and
			</if>
			<if test="arg1.createBy!=null and arg1.createBy!=''">
			    	create_by=#{arg1.createBy, jdbcType=INTEGER} and
			</if>
			<if test="arg1.createTime!=null">
			    	create_time=#{arg1.createTime, jdbcType=DATE} and
			</if>
			<if test="arg1.activeTime!=null">
			    	active_time=#{arg1.activeTime, jdbcType=DATE}
			</if>
		</trim>		
	</select>
	
	<!--通过Id修改信息-->
	<update id="modifyById" parameterType="com.tian.control_system.pojo.Notice">
		update t_notice
		<trim prefix="set" suffixOverrides=",">
			<if test="title!=null and title!=''">
					title=#{title, jdbcType=VARCHAR},
			</if>
			<if test="content!=null and content!=''">
					content=#{content, jdbcType=VARCHAR},
			</if>
			<if test="createBy!=null and createBy!=''">
			    	create_by=#{createBy, jdbcType=INTEGER},					
			</if>
			<if test="createTime!=null">
			    	create_time=#{createTime, jdbcType=DATE},					
			</if>
			<if test="activeTime!=null">
			    	active_time=#{activeTime, jdbcType=DATE}					
			</if>
		</trim>		
		WHERE notice_id = #{noticeId, jdbcType=INTEGER}
	</update>
	
	<!--通过Id删除信息-->
	<delete id="deleteById">
		delete from t_notice
		where notice_id =  #{_parameter}
	</delete>
	
	<!--通过信息条件删除-->
	<delete id="delete">
		delete from t_notice
		<trim prefix="where " suffixOverrides="and">
			<if test="title!=null and title!=''">
					title=#{title, jdbcType=VARCHAR} and
			</if>
			<if test="content!=null and content!=''">
					content=#{content, jdbcType=VARCHAR} and
			</if>
			<if test="createBy!=null and createBy!=''">
			    	create_by=#{createBy, jdbcType=INTEGER} and
			</if>
			<if test="createTime!=null">
			    	create_time=#{createTime, jdbcType=DATE} and
			</if>
			<if test="activeTime!=null">
			    	active_time=#{activeTime, jdbcType=DATE}
			</if>
		</trim>		
	</delete>

</mapper>