<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.springboot_mysely.mapper.StudentDao">

    <resultMap id="studentResultMap" type="com.tian.springboot_mysely.pojo.Student">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="place" column="place"/>
        <result property="creat_time" column="creatTime"/>
        <result property="updata_time" column="updataTime"/>
    </resultMap>

    <sql id="Sql_List">
        id,
        name,
        sex,
        age,
        place,
        creat_time,
        updata_time
    </sql>
    <!--list-->
    <select id="list" resultMap="studentResultMap">
        select <include refid="Sql_List"/>from student;
    </select>

    <!--PageList分页查询注意不要写分号，因为要拼接limit rows-->
    <select id="pageList" resultType="com.tian.springboot_mysely.pojo.Student">
        select * from student
    </select>

    <!--selectById-->
    <select id="slectById" resultMap="studentResultMap">
        select <include refid="Sql_List"/> from student where name = #{name}
    </select>

    <!--login-->
    <select id="login" resultType="com.tian.springboot_mysely.pojo.Student">
        select * from student where id = #{id} and name = #{name}
    </select>

    <!--add-->
    <insert id="add" parameterType="com.tian.springboot_mysely.pojo.Student">
        insert into student value (#{id},#{name},#{age},#{sex},
            #{place},#{creat_time},#{updata_time});
    </insert>

    <!--delete-->
    <delete id="delete" parameterType="int">
        delete from student where id = #{id}
    </delete>

    <!--updata-->
    <update id="update" parameterType="com.tian.springboot_mysely.pojo.Student">
        update student set id=#{id},name=#{name},age=#{age},sex=#{sex},place=#{place},
                      creat_time=#{creat_time},updata_time=#{updata_time}
        where id=#{id}
    </update>

</mapper>