<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--持久层的数据命名位置-->
<mapper namespace="com.tian.springboot_mysely.mapper.UserDao">

    <!--登录-->
    <select id="login" resultType="User">
        select * from user where username = #{username} and password = #{password}
    </select>
    <!--&lt;!&ndash;list&ndash;&gt;
    <select id="query" resultType="com.tian.lastspringboot.pojo.User">
        select * from user;
    </select>

    &lt;!&ndash;selectById&ndash;&gt;
    <select id="slect" resultType="User">
        select * from user where id = #{id}
    </select>

    &lt;!&ndash;login&ndash;&gt;
    <select id="login" resultType="User">
        select * from user where id = #{id} and name = #{username}
    </select>

    &lt;!&ndash;add&ndash;&gt;
    <insert id="add" parameterType="int">
        insert into user value (#{id},#{username},#{password});
    </insert>

    &lt;!&ndash;delete&ndash;&gt;
    <delete id="delete" parameterType="int">
        delete from user where id = #{id}
    </delete>

    &lt;!&ndash;update&ndash;&gt;
    <update id="update" parameterType="User">
        update student set id=#{id},username=#{username},password=#{password}
        where id=#{id}
    </update>-->

</mapper>