<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--持久层的数据命名位置-->
<mapper namespace="com.tian.springboot_mysely.mapper.UserDao">

    <!--登录-->
    <select id="login" resultType="com.tian.springboot_mysely.pojo.User">
        select * from user where username = #{username} and password = #{password}
    </select>
    <!--list-->
    <select id="query" resultType="com.tian.springboot_mysely.pojo.User">
        select * from user;
    </select>

    <!--selectById-->
    <select id="slect" resultType="com.tian.springboot_mysely.pojo.User">
        select * from user where id = #{id}
    </select>

    <!--login-->
    <select id="login1" resultType="com.tian.springboot_mysely.pojo.User">
        select * from user
         <where>
             <if test="id != null or id !=''">
                 and id = #{id}
             </if>
             <if test="username !=null or username !=''">
                 and username = #{username}
             </if>
         </where>
    </select>

    <!--register-->
    <insert id="register" parameterType="int">
        insert into user value (#{id},#{username},#{password});
    </insert>

    <!--delete-->
    <delete id="delete" parameterType="int">
        delete from user
        <where>
            <if test="id != null or id !=''">
                and id = #{id}
            </if>
        </where>
    </delete>

    <!--update-->
    <update id="update" parameterType="com.tian.springboot_mysely.pojo.User">
        update student set id=#{id},username=#{username},password=#{password}
        where id=#{id}
    </update>

</mapper>